<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catalog</title>
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/catalog.css">
  <link rel="shortcut icon" href="/img/icons/favicon.ico" type="image/x-icon">
</head>

<body>

  <header>

    <div class="wrapper">

      <div class="top-line-header">
        <div class="top-line-header_left">
          <a class="link-to-start" href="./start.html"><span class="link-to-start_long">Template</span> <span
              class="link-to-start_short">TL</span></a>
        </div>
        <div class="top-line-header_rigth">
          <a class="link-to-singup" href="#">E-mail sing up</a>
          <a href="./shopping-bag.html" class="link-to-bag">
            <span>Bag (0)</span>
          </a>
        </div>
      </div>

      <div class="bottom-line-header">
        <nav class="navbar">
          <a class="navbar_link--toggle" href="#"><img src="./img/icons/icon-menu.png" alt=""></a>
          <div class="navbar_menu">
            <a class="navbar_link active-link" href="./catalog.html">Women</a>
            <a class="navbar_link" href="./catalog.html">Men</a>
            <a class="navbar_link" href="./catalog.html">Handbags</a>
            <a class="navbar_link" href="./catalog.html">Accessories</a>
            <a class="navbar_link" href="#">Sale</a>
            <a class="navbar_link" href="#">New Arrivals</a>
            <a class="navbar_link" href="#">Clearance</a>
            <a class="navbar_link" href="#">Store Locator</a>
          </div>
          <span class="navbar_search">
            <input class="navbar_text-to-search" type="text" placeholder="Style Name" name="search">
            <button class="navbar_button-search" type="submit"><img src="./img/icons/icon-search.png" alt=""></button>
          </span>
        </nav>
      </div>
    </div>
    <div class="gradient-separator wide-separator"></div>
  </header>

  <main>

    <section class="catalog">
      <div class="wrapper">

        <div class="catalog_filter">

          <ul class="filter-list--hidden">
            <li class="filter-list-item-mobile">Fashion</li>
            <li class="filter-list-item-mobile">Product type</li>
            <li class="filter-list-item-mobile">Color</li>
            <li class="filter-list-item-mobile">Brand</li>
            <li class="filter-list-item-mobile">Size</li>
            <li class="filter-list-item-mobile">Price range</li>
            <span class="close-filter"></span>
          </ul>

          <ul class="filter-list">
            <li class="filter-list-item"><span class="list-item-caption">Fashion</span>
              <span class="select-value"></span>
              <ul class="filter-sub-list">
                <li class="sub-list-item">Not selected</li>
                <li class="sub-list-item">Nail the 90s</li>
                <li class="sub-list-item">Casual style</li>
                <li class="sub-list-item">New Look</li>
                <li class="sub-list-item">Sport</li>
                <li class="sub-list-item">Vintage</li>
                <li class="sub-list-item">Classical style</li>
              </ul>
            </li>
            <li class="filter-list-item"><span class="list-item-caption">Product type</span>
              <span class="select-value"></span>
              <ul class="filter-sub-list">
                <li class="sub-list-item">Not selected</li>
                <li class="sub-list-item">Coats & Jackets</li>
                <li class="sub-list-item">Drasses</li>
                <li class="sub-list-item">Jersey Tops</li>
              </ul>
            </li>
            <li class="filter-list-item"><span class="list-item-caption">Color</span>
              <span class="select-value"></span>
              <ul class="filter-sub-list">
                <li class="sub-list-item">Not selected</li>
                <li class="sub-list-item">Black</li>
                <li class="sub-list-item">Blue</li>
                <li class="sub-list-item">Red</li>
                <li class="sub-list-item">Green</li>
                <li class="sub-list-item">Golden</li>
              </ul>
            </li>
            <li class="filter-list-item"><span class="list-item-caption">Brand</span>
              <span class="select-value"></span>
              <ul class="filter-sub-list">
                <li class="sub-list-item">Not selected</li>
                <li class="sub-list-item">Chi Chi London</li>
                <li class="sub-list-item">Antipodium</li>
                <li class="sub-list-item">Adidas</li>
                <li class="sub-list-item">New Balance</li>
                <li class="sub-list-item">River Island</li>
              </ul>
            </li>
            <li class="filter-list-item"><span class="list-item-caption">Size</span>
              <span class="select-value"></span>
              <ul class="filter-sub-list">
                <li class="sub-list-item">Not selected</li>
                <li class="sub-list-item">UK 2</li>
                <li class="sub-list-item">UK 18</li>
                <li class="sub-list-item">UK 18L</li>
                <li class="sub-list-item">UK 20</li>
                <li class="sub-list-item">UK 20L</li>
                <li class="sub-list-item">UK 20S</li>
                <li class="sub-list-item">UK 22S</li>
                <li class="sub-list-item">UK 22</li>
              </ul>
            </li>
            <li class="filter-list-item"><span class="list-item-caption">Price range</span>
              <span class="select-value"></span>
              <ul class="filter-sub-list">
                <li class="sub-list-item">Not selected</li>
                <li class="sub-list-item">to £99</li>
                <li class="sub-list-item">£100-£299</li>
                <li class="sub-list-item">from £300</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="gradient-separator wide-separator"></div>

        <div class="catalog_products">

          <div class="products_list">

            <div class="products_item new-label">
              <a class="www" href="./item.html">
                <img src="./img/only-skinny-jeans.png" alt="" class="products_item_img">
                <h4 class="products_item_title">Only Skinny Jeans</h4>
                <p class="products_item_price">£65.50</p>
              </a>
            </div>

            <div class="products_item new-label">
              <a href="./item.html">
                <img src="./img/neck-knitted-jumper.png" alt="" class="products_item_img">
                <h4 class="products_item_title">Neck Knitted Jumper</h4>
                <p class="products_item_price">£76.25</p>
              </a>
            </div>

            <div class="products_item">
              <a href="./item.html">
                <img src="./img/turtle-neck-jumper.png" alt="" class="products_item_img">
                <h4 class="products_item_title">Turtle Neck Jumper in Rib</h4>
                <p class="products_item_price">£130.25</p>
              </a>
            </div>

            <div class="products_item">
              <a href="./item.html">
                <img src="./img/with-patchwork-croch.png" alt="" class="products_item_img">
                <h4 class="products_item_title">With Patchwork Crochet</h4>
                <p class="products_item_price">£80.60</p>
              </a>
            </div>



          <div class="catalog_info-text">
            <h3 class="catalog_heading">
              Last weekend <span>extra 50%</span> off on all reduced boots and shoulder bags
            </h3>
            <p class="under-heading-description">
              This offer is valid in-store and online. Prices displayed reflect this additional discount. This offer
              ends at 11:59 GMT on March 1st 2019
            </p>
          </div>



            <div class="products_item">
              <a class="www" href="./item.html">
                <img src="./img/levis-jeans.png" alt="" class="products_item_img">
                <h4 class="products_item_title">Levi's Jeans for women</h4>
                <p class="products_item_price">£95.50</p>
              </a>
            </div>
  
            <div class="products_item">
              <a href="./item.html">
                <img src="./img/boyfriend-tshirt-bohemian.png" alt="" class="products_item_img">
                <h4 class="products_item_title">Boyfriend T-Shirt with Bohemian Print</h4>
                <p class="products_item_price">£90.00</p>
              </a>
            </div>
  
            <div class="products_item">
              <a href="./item.html">
                <img src="./img/colour-block.png" alt="" class="products_item_img">
                <h4 class="products_item_title">Colour Block</h4>
                <p class="products_item_price">550.25</p>
              </a>
            </div>
  
            <div class="products_item">
              <a href="./item.html">
                <img src="./img/monki-festval.png" alt="" class="products_item_img">
                <h4 class="products_item_title">Monki Festval Knitted</h4>
                <p class="products_item_price">24.75</p>
              </a>
            </div>
            
            <div class="products_item">
              <a class="www" href="./item.html">
                <img src="./img/oversized-cardigan.png" alt="" class="products_item_img">
                <h4 class="products_item_title">Oversized Cardigan</h4>
                <p class="products_item_price">£90.00</p>
              </a>
            </div>
  
            <div class="products_item">
              <a href="./item.html">
                <img src="./img/paul-joe-sister.png" alt="" class="products_item_img">
                <h4 class="products_item_title">Paul & Joe Sister Jumper with Neon Trims</h4>
                <p class="products_item_price">£19.75</p>
              </a>
            </div>
  
            <div class="products_item">
              <a href="./item.html">
                <img src="./img/only-busted-knee.png" alt="" class="products_item_img">
                <h4 class="products_item_title">Only Busted Knee Jean</h4>
                <p class="products_item_price">140.50</p>
              </a>
            </div>
  
            <div class="products_item">
              <a href="./item.html">
                <img src="./img/boyfriend-tshirt-paris.png" alt="" class="products_item_img">
                <h4 class="products_item_title">Boyfriend T-Shirt with Paris Print</h4>
                <p class="products_item_price">85.75</p>
              </a>
            </div>
  
          </div>

          <div class="catalog_btn-show-more">
            <a href="./catalog.html.html" class="main-btn">Show more</a>
          </div>

        </div>

      </div>
    </section>

    
    <section class="catalog_banners">

      <div class="gradient-separator"></div>
      
      <div class="wide-wrapper">

        <div class="banners_left-banner">
          <a class="banners-link" href="#">
            <div class="banners-link_text">
              <h4>Adidas Blue</h4>
                <p>For men</p>
            </div>
          </a>
        </div>

        <div class="banners_middle-banner">
          <a class="banners-link" href="#">
            <div class="banners-link_text">
              <h4>Repair Patches</h4>
                <p>£ 150.50</p>
            </div>
          </a>
        </div>

        <div class="banners_right-banner">
          <a class="banners-link" href="#">
            <div class="banners-link_text">
              <h4>Sale</h4>
                <p>-70%</p>
            </div>
          </a>
        </div>

      </div>
    </section>


    
  </main>
  <!-- Main end -->

  <footer>
    <div class="gradient-separator wide-separator"></div>
    <div class="wrapper">
      <div class="top-line-footer">
        <div class="top-line-footer_left">

          <div class="left_block-of-links">
            <h3 class="left_block-of-links_heading">Quick Links</h3>
            <div class="left_block-of-links_links">
              <a href="#" class="left_block-of-links_link">Store Locator</a>
              <a href="#" class="left_block-of-links_link">Gift cards</a>
              <a href="#" class="left_block-of-links_link">Size guide</a>
              <a href="#" class="left_block-of-links_link">About us</a>
              <a href="#" class="left_block-of-links_link">Support</a>
            </div>
          </div>

          <div class="left_block-of-links">
            <h3 class="left_block-of-links_heading">Customer Care</h3>
            <div class="left_block-of-links_links">
              <a href="#" class="left_block-of-links_link">Customer service</a>
              <a href="#" class="left_block-of-links_link">Track my order</a>
              <a href="#" class="left_block-of-links_link">Return policy</a>
              <a href="#" class="left_block-of-links_link">Shipping & delivery</a>
              <a href="#" class="left_block-of-links_link">Contact us</a>
              <a href="#" class="left_block-of-links_link">Career</a>
            </div>
          </div>

        </div>

        <div class="top-line-footer_right">

          <div class="right_block-of-links">
            <h3 class="right_block-of-links_heading">Questions</h3>
            <a href="https://twitter.com/" class="right_block-of-links_link">Tweet us <b>@template</b></a>
          </div>

          <div class="right_block-of-links">
            <h3 class="right_block-of-links_heading">Order by phone</h3>
            <a href="tel:88004094712" class="right_block-of-links_tel">8-800-409-47-12</a>
          </div>

          <div class="right_delivery-service">
            We have our own delivery service which operates in 23 major European cities. Delivery time - 3-5 days.
          </div>

          <div class="right_socials-icons">
            <a href="https://www.facebook.com/"><img src="./img/icons/fb.png" alt="fb"></a>
            <a href="https://www.twitter.com/"><img src="./img/icons/twitter-blue-ico.png" alt=""></a>
          </div>

        </div>

      </div>

      <div class="gradient-separator wide-separator"></div>

      <div class="bottom-line-footer_hidden">
        <span class="site-info-footer_hidden">
          <a href="#">Legal notice</a>
          <a href="#">Privacy policy</a>
          <a href="#">Site map</a>
        </span>
        <div class="right_socials-icons_hidden">
          <a href="https://www.facebook.com/"><img src="./img/icons/fb.png" alt="fb"></a>
          <a href="https://www.twitter.com/"><img src="./img/icons/twitter-blue-ico.png" alt=""></a>
        </div>
      </div>

      <div class="bottom-line-footer">
        <span class="dates-and-name-footer">© 2010–2015, The Template Group inc.</span>
        <a href="#" class="share-footer">Share<span class="share-footer_quantity">1 437</span></a>
        <span class="site-info-footer">
          <a href="#">Legal notice</a>
          <a href="#">Privacy policy</a>
          <a href="#">Site map</a>
        </span>
      </div>
    </div>

  </footer>

  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/catalog.js"></script>
</body>

</html>