<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Item</title>
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="shortcut icon" href="/img/icons/favicon.ico" type="image/x-icon">
</head>
<body>
  
  <header>

    <div class="wrapper">

      <div class="top-line">
        <div class="top-line_left">
          <a class="link-to-start" href="./start.html">Template</a>
        </div>
        <div class="top-line_rigth">
          <a class="link-to-singup" href="#">E-mail sing up</a>
          <a href="./shopping-bag.html" class="link-to-bag">
            <span>Bag (0)</span>
          </a>
        </div>
      </div>

      <div class="bottom-line">
        <nav class="navbar">
          <a class="navbar_link--toggle" href="#"><img src="./img/icons/icon-menu.png" alt=""></a>
          <div class="navbar_menu">
            <a class="navbar_link" href="./catalog.html">Women</a>
            <a class="navbar_link" href="./catalog.html">Men</a>
            <a class="navbar_link" href="./catalog.html">Handbags</a>
            <a class="navbar_link" href="./catalog.html">Accessories</a>
            <a class="navbar_link" href="#">Sale</a>
            <a class="navbar_link" href="#">New Arrivals</a>
            <a class="navbar_link" href="#">Clearance</a>
            <a class="navbar_link" href="#">Store Locator</a>
          </div>
          <span class="navbar_search">
            <input class="navbar_text-to-search" type="text" placeholder="Style Name" name="search">
            <button class="navbar_button-search" type="submit"><img src="./img/icons/icon-search.png" alt=""></button>
          </span>
        </nav>
      </div>

      <div class="gradient-separator"></div>

    </div>

  </header>

  <script src="./js/common.js"></script>
</body>
</html>