<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start</title>
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="shortcut icon" href="/img/icons/favicon.ico" type="image/x-icon">
</head>

<body>

  <header>

    <div class="wrapper">

      <div class="top-line">
        <div class="top-line_left">
          <a class="link-to-start" href="./start.html">Template</a>
        </div>
        <div class="top-line_rigth">
          <a class="link-to-singup" href="#">E-mail sing up</a>
          <a href="./shopping-bag.html" class="link-to-bag">
            <span>Bag (0)</span>
          </a>
        </div>
      </div>

      <div class="bottom-line">
        <nav class="navbar">
          <a class="navbar_link--toggle" href="#"><img src="./img/icons/icon-menu.png" alt=""></a>
          <div class="navbar_menu">
            <a class="navbar_link" href="./catalog.html">Women</a>
            <a class="navbar_link" href="./catalog.html">Men</a>
            <a class="navbar_link" href="./catalog.html">Handbags</a>
            <a class="navbar_link" href="./catalog.html">Accessories</a>
            <a class="navbar_link" href="#">Sale</a>
            <a class="navbar_link" href="#">New Arrivals</a>
            <a class="navbar_link" href="#">Clearance</a>
            <a class="navbar_link" href="#">Store Locator</a>
          </div>
          <span class="navbar_search">
            <input class="navbar_text-to-search" type="text" placeholder="Style Name" name="search">
            <button class="navbar_button-search" type="submit"><img src="./img/icons/icon-search.png" alt=""></button>
          </span>
        </nav>
      </div>

      <div class="gradient-separator"></div>

    </div>

  </header>

  <main>

    <section class="banner">
      <div class="wide-wrapper">

        <div class="banner_left">
          <a class="banner_link" href="./catalog.html">
            <div class="banner_text">
              <h3 class="banner_heading">Nike Red</h3>
            </div>
            <img class="banner_img" src="./img/nike-red.png" alt="nike-red">
          </a>
        </div>

        <div class="banner_right">
          <a class="banner_link" href="./catalog.html">
            <div class="banner_text">
              <h3 class="banner_heading">Caps & Hats</h3>
              <p class="banner-descr">Sale -50%</p>
            </div>
            <img class="banner_img" src="./img/caps-hats.png" alt="nike-red">
          </a>
        </div>

      </div>
      <div class="gradient-separator"></div>
    </section>

    <section class="best-offer">

      <div class="wrapper">

        <div class="best-offer_text">
          <h2 class="best-offer_heading">Best offer</h2>
          <p class="best-offer_descr">This offer is valid in-store and online. Prices displayed reflect this additional discount. This offer ends at 11:59 GMT on March 1st 2019</p>
        </div>

        <div class="best-offer_offering">

          <div class="best-offer_left">

            <div class="best-offer_item">

              <p class="selection-arrows">
                <span class="selection-arrows_top"></span>
                <span class="selection-arrows_bottom"></span>
              </p>

              <div class="products-item">
                <img src="./img/only-skinny-jeans.png" alt="" class="products-item_img">
                <h4 class="products-item_title">Only Skinny Jeans</h4>
                <p class="products-item_price">£65.50</p>
              </div>

            </div>

            <span class="best-offer_math-sign">+</span>

          </div>

          <div class="best-offer_right">

          </div>

        </div>

      </div>

    </section>





  </main>

  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/start.js"></script>
</body>

</html>