/* Fonts */

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

/* ------- Common ------- */

/* html tags custom */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  overflow: hidden;
}

h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  outline: none;
}

* {
  box-sizing: border-box;
}

/* Wrappers */

.wrapper {
  max-width: 1180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wide-wrapper {
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/* Header */

header {
  position: relative;
  flex: 0 0 auto;
  z-index: 10;
  background-color: #fff;
  padding-top: 30px;
  color: #000;
}

.top-line-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000;
}

.link-to-start {
  font-family: 'OpenSansBold';
  font-size: 30px;
  text-decoration: none;
}

.link-to-start:hover {
  color: #f14a58;
}

.top-line-header_rigth {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'RobotoRegular';
  font-size: 12px;
}

.link-to-singup {
  margin-right: 50px;
}

.link-to-bag {
  position: relative;
  padding-left: 25px;
}

.link-to-bag span::before {
  content: url('./../img/icons/icon-bag.png');
  position: absolute;
  left: 0;
  top: -2px;
  width: 12px;
  height: 12px;
}

.bottom-line-header {
  position: relative;
  margin-top: 25px;
  padding-bottom: 15px;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  font-family: 'OpenSansBold';
  color: #000;
}

.navbar_menu {
  display: flex;
  margin-right: 50px;
}

.navbar_link--toggle {
  position: absolute;
  right: 0;
  display: none;
}

.navbar_link {
  margin-right: 50px;
  font-size: 13px;
}

.navbar_link:hover {
  color: #f14a58;
}

.navbar_link:last-child {
  margin-right: 0;
}

.navbar_search {
  position: relative;
  float: right;
}

.navbar_text-to-search {
  width: 120px;
  margin-top: 3px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  font-family: 'OpenSansBold';
  font-size: 12px;
  line-height: 13px;
  color: #a8a8a8;
}

.navbar_text-to-search::placeholder {
  font-family: 'OpenSansBold';
  color: #a8a8a8;
}

.navbar_button-search {
  position: absolute;
  right: -5px;
  top: 2px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* gradient separator */

.gradient-separator {
  width: 110%;
  position: relative;
}

.gradient-separator::after, .gradient-separator::before {
  content: "";
  position: absolute;
  z-index: 999;
  bottom: 0;
  width: 50%;
  height: 1px;
  right: 5%;
  background-image: linear-gradient(to right, rgb(229, 229, 229), rgb(229, 229, 229), rgb(229, 229, 229), rgb(229, 229, 229), rgb(229, 229, 229), rgb(229, 229, 229), rgb(229, 229, 229), rgb(229, 229, 229), rgb(229, 229, 229), rgb(229, 229, 229), rgb(240, 240, 240), rgb(255, 255, 255));
}

.gradient-separator::before {
  left: -5%;
  transform: scale(-1, 1);
}

/* Products Item */

.products-item {
  position: relative;
  z-index: 10;
  text-align: center;
  font-size: 14px;
}

.products-item a:hover .products-item_title{
  color: #f14a58;
}

.products-item a:hover::after{
  content: "View item";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 340px;
  line-height: 340px;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: 'OpenSansBold';
  font-size: 22px;
  color: #f14a58;
}

.products-item_title {
  margin-bottom: 20px;
  padding-top: 50px;
  font-family: 'RobotoBold';
  transition: all .2s ease;
}

.products-item_price {
  
  font-family: 'RobotoRegular';
}

/* Main button */

.main-btn {
  display: block;
  width: 340px;
  height: 70px;
  border: 1px solid #e5e5e5;
  line-height: 65px;
  text-align: center;
  font-size: 24px;
  font-family: 'OpenSansBold';
  color: #000;
  transition: all .2s ease;
}

.main-btn:hover {
  border-color: #f14a58;
  color: #f14a58;
}


/* ------- Common End ------- */

/* Main */

/* Banners */

.banner {
  max-width: 1300px;
  width: 100%;
}

.banner_left, .banner_right {
  width: 55%;
}

.banner_left .banner_link, .banner_right .banner_link {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 110%;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid rgb(229, 229, 229);
  background-color: #fff;
}

.banner_right .banner_link {
  background: #f7f7f7;
  border: none;
}

.banner_text {
  position: relative;
  z-index: 2;
  display: inline-block;
  left: 89px;
  top: 75px;
  text-align: center;
}

.banner_right .banner_text {
  left: 100px;
}

.banner_heading {
  display: inline-block;
  font-size: 28px;
  font-family: 'OpenSansBold'
}

.banner-descr, .best-offer_descr {
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: #757575;
}

.banner_img {
  position: relative;
  width: 85%;
  height: auto;
  z-index: 1;
}

.banner_left a .banner_img {
  top: 15px;
  left: 20px;
}

.banner_right a .banner_img {
  width: 35%;
  height: 80%;
  left: 20%;
  top: 40px;
  transform: scale(1.95);
}

/* Best offer */

.best-offer {
  padding: 100px 0;
  width: 100%;
}

.best-offer_text {
  text-align: center;
}

.best-offer_heading, .new-arrivals_heading {
  font-family: 'OpenSansBold';
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.best-offer_offering {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  margin-top: 70px;
  padding-right: 100px;
}

.best-offer_left {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.best-offer_item {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 60px;
}

.selection-arrows_bottom, .selection-arrows_top {
  position: absolute;
  display: block;
  bottom: 0;
  width: 24px;
  height: 12px;
  background-image: url('./../img/icons/arrow.png');
  background-size: 100% 100%;
  cursor: pointer;
}

.selection-arrows_top {
  top: 0;
  transform: rotate(180deg);
}

.best-offer_math-sign {
  position: relative;
  bottom: 40px;
  margin: 0 70px 0 70px;
  font-family: 'RobotoBold';
  font-size: 34px;
}

.best-offer_right {
  position: relative;
  bottom: 32px;
  width: 100%;
}

.best-offer_discount {
  margin-bottom: 58px;
  margin-left: 40px;
}

.best-offer_old-price {
  position: relative;
  margin-left: 20px;
  margin-bottom: 15px;
  font-family: 'RobotoRegular';
  font-size: 26px;
  color: #757575;
}

.best-offer_old-price::before {
  content: '';
  position: absolute;
  width: 103px;
  height: 1px;
  top: 11px;
  left: 32px;
  transform: rotate(-30deg);
  background-color: #f25c69;
}

.best-offer_new-price {
  margin-left: 60px;
  font-family: 'RobotoBold';
  font-size: 34px;
  color: #000;
}

.best-offer_add-btn {
  position: absolute;
  bottom: 155px;
  right: 0;
}

.best-offer .gradient-separator, .new-arrivals .gradient-separator {
  top: 100px;
}

/* New arrivals */

.new-arrivals {
  padding: 120px 0 100px 0;
}

.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 85px;
}

.new-arrivals_btn {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.new-label {
  position: relative;
}

.new-label::before {
  content: 'NEW';
  position: absolute;
  left: 0;
  top: 15px;
  width: 50px;
  height: 25px;
  background-color: #f14a58;
  line-height: 25px;
  font-family: 'RobotoRegular';
  font-size: 14px;
  color: #fff;
}

/* Footer */

footer {
  max-width: 1180px;
  width: 100%;
  flex: 0 0 auto;
  padding-bottom: 30px;
}

.top-line-footer {
  display: flex;
  flex-direction: row;
}

.top-line-footer_left, .top-line-footer_right {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-top: 55px;
  padding-bottom: 95px;
}

.top-line-footer_left {
  border-right: 1px solid rgb(229, 229, 229);
}


.left_block-of-links {
  margin-right: 160px;
}

.left_block-of-links_heading, .right_block-of-links_heading {
  font-family: 'OpenSansBold';
  font-size: 16px;
  color: #000;
}

.left_block-of-links_links {
  margin-top: 50px;
}

.left_block-of-links_link, .right_block-of-links_link, .right_block-of-links_tel {
  display: block;
  margin-bottom: 20px;
  font-family: 'RobotoRegular';
  font-size: 14px;
  color: #000;
}

.top-line-footer_right {
  flex-wrap: wrap;
  padding-left: 60px;
}

.right_block-of-links {
  margin-right: 110px;
  height: 20%;
}

.right_block-of-links_heading {
  margin-bottom: 25px;
}

.right_block-of-links_link {
  position: relative;
  padding-left: 25px;
}

.right_block-of-links_link::before {
  content: url('./../img/icons/twitter-gray-ico.png');
  position: absolute;
  left: 0;
}

.right_block-of-links_tel {
  padding: 0;
}

.right_delivery-service {
  width: 305px;
  height: 20%;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 16px;
  color: #757575;
}

.right_socials-icons {
  width: 300px;
  margin-top: -10px;
}

.right_socials-icons a {
  margin-right: 25px;
}

.bottom-line-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.dates-and-name-footer {
  font-family: 'RobotoBold';
  font-size: 12px;
}

.share-footer {
  font-family: 'OpenSansBold';
  font-size: 18px;
}

.share-footer_quantity {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  line-height: 12px;
  font-family: 'RobotoRegular';
  font-size: 12px;
  background-color: #f4f4f4;
}

.share-footer_quantity::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -11px;
  border: 6px solid transparent;
  border-right: 6px solid #f4f4f4;
}

.site-info-footer {
  font-family: 'RobotoBold';
  font-size: 12px;
}

.site-info-footer a {
  margin-right: 35px;
}

.site-info-footer a:last-child {
  margin: 0;
}

/* Media */

@media only screen and (max-width: 1180px) {
  .wrapper, .wide-wrapper {
    max-width: 100vw;
    padding: 0 10px;
  }

  header, section, footer {
    overflow: hidden;
  }

  .banner {
    width: 100vw;
  }

  .best-offer_heading, .new-arrivals_heading {
    font-size: 45px;
  }

  .best-offer_math-sign {
    margin: 0 50px 0 50px;
  }

  .best-offer_old-price::before {
    left: 12px;
  }

  .best-offer_new-price {
    margin-left: 0;
  }

  .main-btn {
    width: 300px;
  }

  .left_block-of-links {
    margin-right: 100px;
  }

  .top-line-footer_left, .top-line-footer_right {
    justify-content: center;
  }

  .right_block-of-links {
    margin-right: 50px;
  }

  .bottom-line-footer {
    padding: 0 20px;
  }

}

@media only screen and (max-width: 1024px) {
  .wrapper, .wide-wrapper {
    padding: 0 50px;
  }

  .link-to-start {
    font-size: 26px;
  }

  .navbar_link {
    margin-right: 20px;
    font-size: 12px;
  }

  .navbar_text-to-search {
    width: 0;
  }

  /* .banner_text {

  } */

  .banner_heading {
    font-size: 22px;
  }

  .banner_left a .banner_img {
    top: 15px;
    left: 65px;
  }

  .banner_img {
    width: 75%;
  }

}

@media only screen and (max-width: 767px) {
  .wrapper {
    max-width: 768px;
  }

  .navbar,
  .navbar_menu {
    flex-direction: column;
  }

  .navbar_menu, .navbar_search {
    display: none;
  }

  .navbar_link--toggle-show {
    display: flex;
  }

  .navbar_link--toggle {
    display: block;
  }
}