@font-face {
  font-family: "OpenSansBold"; 
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf"); 
}

@font-face {
  font-family: "OpenSansSemiBold"; 
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf"); 
}

@font-face {
  font-family: "RobotoBold"; 
  src: url("../fonts/Roboto/Roboto-Bold.ttf"); 
}

@font-face {
  font-family: "RobotoMedium"; 
  src: url("../fonts/Roboto/Roboto-Medium.ttf"); 
}

@font-face {
  font-family: "RobotoRegular"; 
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); 
}

.o1 {
  font-family: 'OpenSansBold';
}

.o2 {
  font-family: 'OpenSansSemiBold';
}

.r1 {
  font-family: 'RobotoBold';
}

.r2 {
  font-family: 'RobotoMedium';
}

.r3 {
  font-family: 'RobotoRegular';
}
